@media  screen and (min-width: 801px ) and (max-width: 1150px) {
    
    :root {
        --main-color: #d3ad7f;
        --black: #13131a;
        --bg: #010103;
        --border: 0.1rem solid rgba(255,255,255,0.3);
        font-size: 20px;
    }

    html {
        scroll-padding-top: 200px;
    }

    /* _______________________________ SLIDES _______________________________ */

    .slider-content {
        width: 1151px;
        height: 300px;
    }

    .sli1 {
        display: block;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: -60px 0px;
    }
    
    .sli2 {
        display: block;
        background-repeat: no-repeat;
        background-size: 90%;
    }
    .sli3 {
        display: block;
        background-repeat: no-repeat;
        background-size: 90%;
        
    }
    
    .sli4 {
        display: block;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: -20px 0px;
         
    }

    .botão {
        position: absolute;
        left: 50vw;
        transform: translate(-50%); 
        padding-left: 10px;
        text-align: center;
        cursor: pointer;
        width: 200px;
        height: 60px;
        font-size: 17px;
        border-radius: 30px;
        background-color: var(--main-color);
    }

/* _______________________________ NOSSO MENU _______________________________ */

    .conjunto {
        gap: 1rem;
    }


    .box-container {
        padding: 10px;
    }

    .menu .box-container .box {
        text-align: center;
        border-bottom: var(--border);
        width: 185px;
    }

      /* _______________________________ REVIEW _______________________________ */

      .review-container {
        align-items: center;
        text-align: center;
        display: block;
        
    }

    .review .review-container .box {
        border: var(--border);
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 300px;
    }

    .review .review-container .box p {
        font-size: 0.6rem;
        line-height: 1rem;
        padding: 0.2rem 0;
        font-weight: 300;
        color: #fff;
    }

    .review .review-container .box h3 {
        color: #fff;
        font-size: 15px;

    }

    .review .review-container .box .foto {
        height: 100px;
    }

    .review .review-container .box .aspas {
        height: 15px;
    }

     /* _______________________________ ADDRESS _______________________________ */

     .address {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .map iframe {
        width: 500px;
        height: 500px;
    }
}