@media  screen and (min-width: 320px ) and (max-width: 500px) {
    
    :root {
        --main-color: #d3ad7f;
        --black: #13131a;
        --bg: #010103;
        --border: 0.1rem solid rgba(255,255,255,0.3);
        font-size: 20px;
    }

    html {
        scroll-padding-top: 200px;
    }

     /* _______________________________ HEADER _______________________________ */

    header section {
        display: block;
        padding: 10px;
        min-height: 100px;
        
    }

    header img {
        height: 55px;
    }

    header section .navbar {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 5px;
        transition: 1s;
    }

    .navbar a {
        display: inline-block;
        width: 100px;
        text-align: center;
        align-items: center;
        color: white;
        font-size: 1.2rem;
    }

    .btn-burger {
        display: block;
        position: absolute;
        top: 10px;
        left: 80%;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    .linha {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var(--main-color);
        margin: 7px auto;
        border-radius: 10px;
        position: relative;
        transform-origin: center;
        transition: 0.2s;
    }

    .btn-burger.ativar .linha:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }
    .btn-burger.ativar .linha:nth-child(2) {
       width: 0;
    }
    
    .btn-burger.ativar .linha:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
    }

    header section .navbar {
        display: none;
    }

    header section .navbar.ativar {
        display: block;
    }

    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 0.1rem solid var(--main-color);
        padding-bottom: 0.01rem;
        transition: 0.4s;
    }

    .title {
        margin: 10px 0;
        line-height: 40px;
        text-align: center;
        color: var(--main-color);
        text-transform: uppercase;
    }
    .title span {
        color: #fff;
        text-transform: uppercase;
    }
    
    .navbar a {
        font-size: 20px;
    }

    /* _______________________________ SEÇÂO HERO _______________________________ */
    
    .slider {
        background-color: black;
        margin-top: 101px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-top: 100px;
    
    }

    /* _______________________________ SLIDES _______________________________ */

    .sli1 {
        display: block;
        height: 400px;
        width: 100vw;
        background-image: url('../imagens/slides/media/cafeteria-media.jpg');
        background-position-x: -60px;
        background-repeat: no-repeat;
    }
    
    .sli2 {
        display: block;
        height: 300px;
        width: 100vw;
    }
    .sli3 {
        display: block;
        height: 300px;
        width: 100vw;
        
    }
    
    .sli4 {
        display: block;
        height: 300px;
        width: 100vw;
        background-image: url('../imagens/slides/media/bolo-sorvete-media.jpg')
    }

    .sli1 h1 {
        text-align: left;
        color: #fff;
        font-size: 1.2rem;
        padding: 10px;
        margin: 0;
        line-height: 30px;
        height: 230px;
        width: 200px;
        border-radius: 0px 0px 10px 0px;
        background-color: rgba(0, 0, 0, 0.568);
    }

    .texto {
        text-align: left;
        color: #fff;
        padding-left: 10px;
        padding-top: 10px;
        margin: 0;
        width: 200px;
        height: 230px;
        border-radius: 0px 0px 10px 0px;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .texto h1 {
        font-size: 1.2rem;
        margin-bottom: 5px;
        line-height: 25px;
    
    }

    .texto p {
        font-size: 15px;
        line-height: 16px;
    }

    .botão {
        display: flex;
        padding-left: 10px;
        text-align: center;     
        cursor: pointer;
        width: 200px;
        height: 60px;
        font-size: 17px;
        border-radius: 30px;
        background-color: var(--main-color);
        margin: 5px auto;

    }
    
    .nav-manual, .nav-auto {
        position: absolute;
        top: 410px;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    /* _______________________________ HORÁRIOS DE FUNCIONAMENTO _______________________________ */

    .horarios {
        display: block;
        text-align: center;
        flex-wrap: nowrap;
        border-radius: 10px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }

    .aber-fech {
        border-radius: 5px;
        padding: 5px;
        width: 50%;
        margin: 0 auto;
    }

    .hfun {
        text-align: center;
        margin: auto;
        margin-top: 10px;
        font-size: 20px;
    }

    .dias {
        display: block;
    }

    .dia {
        display: flex;
        justify-content: space-between;
        border-bottom: var(--border);
        padding: 10px 5px;
        font-size: 15px;
    }

    /* _______________________________ SOBRE NÒS _______________________________ */

    .title {
        font-size: 40px;
    }

    .about .row {
        display: block;
        background-color: yellowgreen;
    }

    picture img {
        display: inline-block;
        margin-left: 50px;
    }

    .about .row .content h3 {
        font-size: 30px;
        margin: 0;
        line-height: 1.5rem;
    }

    .about .row .content p {
        font-size: 15px;
        text-align: left;
        line-height: 25px;
    }

    /* _______________________________ NOSSO MENU _______________________________ */

    .item .click:hover {
        
        background-color: #fff;
        transition: 0.4s;
        color: var(--black);
    }

    .conjunto {
        width: 100%;
        display: block;
    }

    .box-container {
        height: 500px;
        text-align: center;
        display: block;
        overflow-y: auto;
        padding: 0px;
        width: 100%;
        scroll-behavior: smooth;
        box-sizing: content-box;
        
    }

    .menu .box-container .box {
        display: flex;
        text-align: center;
        border-bottom: var(--border);
        width: 100%;
        padding: 5px;
        cursor: pointer;
    }

    .menu .box-container .box img {
        height: 100px;
        padding-right: 5px;
    }

    .menu .box-container .box h3 {
        color: #fff;
        font-size: 20px;
        padding: 1rem 0;
    }

    .menu .box-container h4 {
        font-size: 30px;
        padding: 40px 0px ;
        
    }
    .card {
        margin: auto;
    }
    .menu .box-container .box .price {
        color: white;
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .menu .box-container .box .price span {
        font-size: 0.7rem;
        text-decoration: line-through;
        font-weight: 200;
    }

    .menu .box-container .box:hover {
        background-color: #fff;
        transition: 0.4s;
        color: var(--black);
    }

    .menu .box-container .box:hover * {
        color: var(--black);
        transition: 0.4s;
    }
    
    /* _______________________________ REVIEW _______________________________ */

    .review-container {
        align-items: center;
        text-align: center;
        display: block;
        
    }

    .review .review-container .box {
        border: var(--border);
        text-align: center;
        padding: 5px;
        width: 100%;
        height: 320px;
    }

    .review .review-container .box p {
        font-size: 0.6rem;
        line-height: 1rem;
        padding: 0.2rem 0;
        font-weight: 300;
        color: #fff;
    }

    .review .review-container .box h3 {
        color: #fff;
        font-size: 15px;

    }

    .review .review-container .box .foto {
        height: 100px;
    }

    .review .review-container .box .aspas {
        height: 15px;
    }

    /* _______________________________ ADDRESS _______________________________ */

    .address {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .map iframe {
        width: 100%;
        height: 300px;
    }
}